@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap");
/* SCSS HEX */
$dark-tree: #2b4141ff;
$sky: #0eb1d2ff;
$light-sky: #34e4eaff;
$strawberry: #f06543ff;
$orange: #ff8811ff;
$light-orange: #f09d51ff;
/* SCSS Gradient */
$grad-main: linear-gradient(225deg, $dark-tree, $sky, $light-sky, $strawberry, $light-orange, $orange);;

*{margin:0;padding:0;}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  background: $grad-main;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-slategray {
  background-color: $dark-tree;
}

.cursive {
  font-family: 'MuseoModerno', cursive;
}

.shadow-1 {
  -webkit-box-shadow: 0 0.5rem 3rem $dark-tree !important;
          box-shadow: 0 0.5rem 3rem $dark-tree !important;
}

.hr-5 {
  height: 5rem;
}

.hr-20 {
  height: 20rem;
}

.hr-30{
  height: 30rem;
}

.hr-40{
  height: 40rem;
}